@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* card section home */
.card {
  width: 170px;
  height: 90px;
  border-radius: 6px;
  border: 1px solid #dadada;
  background: #ffff;
  box-shadow: 10px 10px 20px #dbdbdb,
             -10px -10px 20px #ffffff;
}